
	.hellow{
		width: 500px;
		height: 200px;
		background-color: white;
		border-radius: 20px;
		position:absolute;
		right:30%;
		top:38%;
		font-family: segoe UI;
	}
#txt1{	color:white;		font-family: segoe UI; }
#txtbox{	width: 300px;	height:25px;	color:white; font-size: 17px;	background-color:#C7D6C7; opacity: 0.5;	font-family: segoe UI;	
	border-color: #051C21;}
#txtbox:hover{	width: 310px;	height:26px;	color:white; font-size: 18px;	background-color:#524167; opacity:1;	font-family: segoe UI;
	border-color: #C7D6C7;}
#sub1{
	background-color:white;
	color:#42EB91;
	border-color:#42EB91; 
	height:30px;
	width:200px;
	font-size:17px;
	border-radius: 10px;
}